if (flashSuccess)
    .alert.alert-info
        #{flashSuccess}
if (flashError)
    .alert.alert-danger
        #{flashError}

if (passportSucces)
    .alert.alert-primary
        #{passportSucces}

if (passportFailure)
    .alert.alert-danger
        #{passportFailure}