if (flashSuccess)
    .alert.alert-info
        p= flashSuccess
if (flashError)
    .alert.alert-danger
        p= flashError

if (passportSucces)
    .alert.alert-primary
        p= passportSucces

if (passportFailure)
    .alert.alert-danger
        p= passportFailure