<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Temp
    body
        include includes/flash.pug

        p code sample users
        ul
            if (users)
                each user in users
                    li= user.username
            else
                p There is no users

        p code sample rooms
        ul
            if (rooms)
                each room in rooms
                    li= room.name
            else
                p There is no rooms
        p code sample current user and user logout        
        if (user)
            h5= user.username
            a(href="/logout") logout
        
        p code sample add rooms
        form(action="/" method="POST")
            input(type="text" name="roomname")
            button(type="submit" value="Add room")