if (flashSuccess)
    .alert.alert-info
        p(style='color:green;')= flashSuccess
if (flashError)
    .alert.alert-danger
        p(style="color:red;")= flashError

if (passportSucces)
    .alert.alert-primary
        p(style='color:green;')= passportSucces

if (passportFailure)
    .alert.alert-danger
        p(style="color:red;")= passportFailure