doctype html
head
  meta(charset='UTF-8')
  title Temp - Login
  link(rel='stylesheet' href='/css/style.css' media='screen' type='text/css')
head
  meta(charset='utf-8')
  title Login
  link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400,700')
  //if lt IE 9
    script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
body
    .container  
      #login
        p(style="font-size:30px; color:white") Log in
        br
        form(action='/login' method='POST')
          fieldset.clearfix
            p
              span.fontawesome-user
              input(type='text' name='username' value='Username' onblur="if(this.value == '') this.value = 'Username'" onfocus="if(this.value == 'Username') this.value = ''" required)
            // JS because of IE support; better: placeholder="Username"
            p
              span.fontawesome-lock
              input(type='password' name='password' value='Password' onblur="if(this.value == '') this.value = 'Password'" onfocus="if(this.value == 'Password') this.value = ''" required)
            // JS because of IE support; better: placeholder="Password"
            p
              input(type='submit' value='Sign In')
          include flash.pug
          if (errors)
            .alert.alert-danger
                each message in errors
                    p(style="color:white;")= message
            