<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <script>
        var data = [
            {
                name: "erkan",
                surname: "saka"
            },
            {
                name: "halit",
                surname: "safa"
            },
            {
                name: "talha",
                surname: "ozdemir"
            },
            {
                name: "bilal",
                surname: "oguz"
            },
        ]
    </script>
    <table class="dummyTable">

    </table>
    <script>
        for(var i = 0; i < data.length; i++) {
            var Person = data[i];
            console.log(Person.name);
            console.log(Person.surname);
        }
    </script>
</body>

</html>