
<div class="auth-wrapper">
    <div class="container">
        <div id="login">
            <p style="font-size:30px; color:white">Log in</p><br>
            <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="loginUser()">
                <fieldset class="clearfix">
                    <div class="form-group">
                    <p><span class="fontawesome-user"></span><input type="text" formControlName='username' placeholder="username" required></p>
                        </div>
                    <div class="form-group">
                    <p><span class="fontawesome-lock"></span><input type="password" formControlName='password' placeholder="password" required></p>
                    <!-- JS because of IE support; better: placeholder="Password"-->
                </div>
                    <p><input type="submit" value="Sign In"></p>
                </fieldset>
            </form>
        </div>
    </div>
</div>
