$grey: #333333;
$red: #347db9;
$header-nav-height: 64px;
$sidebar-left-width: 17rem;

.ui.menu.top-menu {
  background-color: #4d4d4d;
  border: none;
//  position:absolute;
  .logo {
    width: $sidebar-left-width;
    height: $header-nav-height;
    color: white;
  }
  .nav-container {
    flex-grow: 1;
    padding: 0;

    .search-input {
      padding-left: 0;
      width: 33%;

      form {
        width: 100%;
      }
    }
  }

  .header-icon {
    color: #a0a0a0;
  }
}